published/2025-09-19_videos_youtube_v100/videos_pwave_sigmodfitting_v100_2025-09-19.zip filter=lfs diff=lfs merge=lfs -text
published/2025-09-20_latex-code_v100/latex-code_pwave_sigmodfitting_v100_2025-09-20.zip filter=lfs diff=lfs merge=lfs -text
published/2025-09-20_octave-code_v100/signalmodelfitting-1.0.0.zip filter=lfs diff=lfs merge=lfs -text
published/2025-09-20_videos_v100/videos_pwave_sigmodfitting_v100_2025-09-19.zip filter=lfs diff=lfs merge=lfs -text
published/2025-09-20_presentation_v100/presentation_pwave_sigmodfitting_v100_2025-09-20.pdf filter=lfs diff=lfs merge=lfs -text
published/2025-09-20_presentation_v100/presentation_pwave_sigmodfitting_v100_2025-09-20_sig.pdf filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d50_5_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d70_6_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b24_v800_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d90_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b16_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b50_v400_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d70_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b33_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b16_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b24_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b50_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b33_v400_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b33_v800_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d50_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b16_v600_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b50_v800_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d25_6_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d50_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d70_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b24_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b33_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b16_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d25_5_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d25_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d25_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d25_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d70_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d50_6_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d50_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b50_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b33_v600_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b50_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d70_5_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b24_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b16_v800_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b50_v600_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d50_4_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d90_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b16_v400_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b24_v400_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d50_b33_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b33_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts7_d50_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d25_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d90_b33_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b24_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d90_b24_v600_2_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d70_4_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d50_b16_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d90_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts1_wc040_d25_4_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b16_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d70_b24_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts5_d70_b50_v800_1_pick.oct filter=lfs diff=lfs merge=lfs -text
octave/results/algo_sigfit/oct/ts6_d25_b50_v600_1_pick.oct filter=lfs diff=lfs merge=lfs -text
